body {
  margin: 0;
  background-image: radial-gradient(
    circle at center top,
    rgba(91, 3, 214, 1) 0%,
    rgba(36, 41, 46, 1) 80%
  );
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Anybody', Arial, Helvetica, sans-serif;
  color: var(--text);
}

:root {
  --bg: rgb(49, 54, 60);
  --primary: rgb(91, 3, 214);
  --secondary: rgb(45, 54, 63);
  --text: rgb(246, 246, 246);
}
