@import 'tailwindcss';

.bg-dotted {
  background-size: 2rem 2rem;
  background-position: 0% 0%;
  background-image: radial-gradient(
    rgb(48, 48, 48) 6%,
    theme(colors.zinc.900) 8%
  );
}

.card {
  @apply bg-zinc-800/60 backdrop-blur-xs rounded-lg px-10 py-5;
}

.gradient-border {
  @apply relative bg-linear-to-r from-purple-600 to-blue-600 rounded-3xl;
}

.gradient-border-inset {
  @apply absolute inset-0.5 bg-zinc-900 rounded-3xl;
}